<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
    <h2>{{event.name | uppercase}}</h2>
    <div>Date: {{event.date | date:'dd-MM-y'}}</div>
    <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="event?.time">
        Time: {{event.time}}
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: {{event.price | currency:'EUR':true}}</div>
    <div *ngIf="event?.location"> <!-- If event.location exist, show the parent. If not, do not display  -->
        <span>Location: {{event.location.address}}</span>
        <!-- With [hidden] you can hide content if this not exist -->
        <span [hidden]="!event?.location" class="pad-left">{{event.location.city}}, {{event.location.country}}</span>
    </div>
    <!--<button class="btn btn-primary" (click)="handleClickMe()">Click me!</button>-->
</div>