em {
    float:right; color:#e05c65; padding-left: 10px;
}

.error input, .error select, .error textarea { background-color: #e3c3c5; color: #999;}
.error ::-webkit-input-placeholder,
.error ::-moz-placeholder,
.error :-moz-placeholder,
.error :-ms-input-placeholder{
    color: #999;
}
